/* book detail css file */
html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
    position: absolute;
    height: 100%;
    width: 100%;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}
.contactButton {
    -moz-box-shadow: 0px 10px 14px -7px #3e7327;
    -webkit-box-shadow: 0px 10px 14px -7px #3e7327;
    box-shadow: 0px 10px 14px -7px #3e7327;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77b55a), color-stop(1, #72b352));
    background:-moz-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background:-webkit-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background:-o-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background:-ms-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b55a', endColorstr='#72b352',GradientType=0);
    background-color:#77b55a;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    border:1px solid #4b8f29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:13px;
    font-weight:bold;
    padding:12px 27px;
    text-decoration:none;
    text-shadow:0px 1px 0px #5b8a3c;
  }
  .contactButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #72b352), color-stop(1, #77b55a));
    background:-moz-linear-gradient(top, #72b352 5%, #77b55a 100%);
    background:-webkit-linear-gradient(top, #72b352 5%, #77b55a 100%);
    background:-o-linear-gradient(top, #72b352 5%, #77b55a 100%);
    background:-ms-linear-gradient(top, #72b352 5%, #77b55a 100%);
    background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#72b352', endColorstr='#77b55a',GradientType=0);
    background-color:#72b352;
  }
  .contactButton:active {
    position:relative;
    top:1px;
  }









  /* test */
  $spacing: 20px
  
  $radius: 4px
  
  $font-size-default: 20px
  $font-size-small: .65em
  
  $color-green: #91D98A
  $color-blue: #8AC0D9
  
  @import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300)
  
  =clearfix
    display: table
    overflow: hidden
    &:before
      +before
  
  =prefix($property, $value)
    -webkit-#{$property}: #{$value}
    -ms-#{$property}: #{$value}
    -moz-#{$property}: #{$value}
    -o-#{$property}: #{$value}
    #{$property}: #{$value}
  
  =radius($rad: $radius)
    +prefix(border-radius, #{$rad})
  
  =before
    content: " "
    display: block
      
  // - - - Generals
  *
    padding: 0
    margin: 0
    border: 0
    color: #888
    font-family: 'Source Sans Pro', sans-serif
    font-size: $font-size-default
    font-weight: 300
    outline: none
    +prefix("text-size-adjust", none)
    +prefix("box-sizing", border-box)
  
      
  // - - - Classes
  
  .padding
    padding: $spacing
  .clearfix
    +clearfix
  .font-size-small
    font-size: $font-size-small
  
      
  // - - - Chat
  
  .chat-wrapper
    min-width: 400px
    width: 100%
    +clearfix
  
    .chat-content
      background-color: #fff
  
    .chat-image
      float: left
      +radius(50%)
  
      &.chat-image-default
        width: $spacing * 3
        height: $spacing * 3
  
    .chat-message
      margin-bottom: $spacing
      width: 100%
      +clearfix
      &:last-of-type
        margin-bottom: 0
  
      .chat-message-wrapper
        max-width: 70%
        display: table
        margin: 0 $spacing
        padding-top: $spacing / 2
        position: relative
  
        &:before
          +before
          width: 0
          height: 0
          border: 12px solid transparent
          top: $spacing
          position: absolute
          z-index: 2
        p
          padding: $spacing / 2 $spacing
          color: #fff
          border-top: 1px solid
  
          &:first-of-type
            border-top: 0 !important
  
      &.chat-message-recipient
      
        .chat-message-wrapper,
        .chat-message-content
          float: left
          
        .chat-message-wrapper
          &:before
            left: -$spacing
            border-right-color: $color-green
        p
          background-color: $color-green
          border-top-color: $color-green - 20
  
      &.chat-message-sender
        
        .chat-message-wrapper,
        .chat-message-content
          float: right
  
        .chat-message-wrapper
          &:before
            right: -$spacing
            border-left-color: $color-blue
  
        p
          background: $color-blue
          border-top-color: $color-blue - 20
        img
          float: right
          
      .chat-message-content
        +clearfix
        +radius
  
      .chat-details
        clear: both
        width: 100%
        +clearfix
  
        span
          margin-right: 4px
          color: #bbb