/* header css file  */
.cb {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    bottom: 0;
} 

.cb li {
    float: left;
}

.cb li a, .cb .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.cb li a:hover, .cb .dropdown:hover .cb .dropbtn {
    background-color: red;
}
.cb li a:hover, .cb .active {
    background-color: red;
}
.cb li.dropdown {
    display: inline-block;
}

.cb .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.cb .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.cb .dropdown-content a:hover {background-color: #f1f1f1}

.cb .dropdown:hover .dropdown-content {
    display: block;
}

