/* footer css file  */
.row {
    list-style-type: none;
    background-color: #333;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
    bottom:0px;
} 
.row li {
    float: left;
}

.row li a, .row .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.row li a:hover, .row .dropdown:hover .row .dropbtn {
    background-color: red;
}
.row li a:hover, .row .active {
    background-color: red;
}
.row li.dropdown {
    display: inline-block;
}

.row .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}



.row .dropdown:hover .dropdown-content {
    display: block;
}


