/* header css file  */
.nb {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nb li {
    float: left;
}

.nb li a, .nb .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nb li a:hover, .nb .dropdown:hover .nb .dropbtn {
    background-color: red;
}
.nb li a:hover, .nb .active {
    background-color: red;
}
.nb li.dropdown {
    display: inline-block;
}

.nb .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.nb .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.nb .dropdown-content a:hover {background-color: #f1f1f1}

.nb .dropdown:hover .dropdown-content {
    display: block;
}
.navBar{
  margin-bottom: 50px;


}
